<%- include("template/header", {titulo: 'Crear kamaron' }) %>
    <div class="container">

        <h2>Crear un plato</h2>
        <form action="/kamaron" class="my-2" method="POST">
            <img id="imagenSeleccionada" src="../images/camarones.jpg" alt="Imagen seleccionada" class="opciones">
            <select name="url" id="urlSelect">
                <option value="images/camarones.jpg">Camarones</option>
                <option value="images/coquinas.jpg">Coquinas</option>
                <option value="images/costilla.jpg">Costilla</option>
                <option value="images/kamaron.png">Kamaron</option>
                <option value="images/langosta.webp">Langosta</option>
                <option value="images/langostino.jpg">Langostino</option>
                <option value="images/michelada.jpg">Michelada</option>
                <option value="images/pollo.jpg">Pollo</option>
            </select>
            <input type="number" placeholder="Price" class="form-control my-2" name="price">
            <input type="text" placeholder="name" class="form-control my-2" name="name">
            <input type="text" placeholder="Descripción" class="form-control my-2" name="descripcion">
            <button type="submit" class="btn btn-dark btn-block">
                Agregar
            </button>
        </form>
    </div>

    <script>
    const select = document.getElementById('urlSelect');
    const imagen = document.getElementById('imagenSeleccionada');

    select.addEventListener('change', function() {
        const selectedOption = select.options[select.selectedIndex];
        
        imagen.src = "../" + selectedOption.value;
    });
    </script>

    <%- include("template/footer.ejs") %>